
{% extends "layout.html" %}

{% block title %}
Muokkaa julkaisua
{% endblock %}


{% block content %}

<div class="form-container wide">

    <h1>Muokkaa julkaisua</h1>


    {% if error %}

        <div class="error">
            {{ error }}
        </div>

    {% endif %}


    <form method="POST"
          action="{{ url_for('edit_post', post_id=post.id) }}">

        <input type="hidden"
               name="csrf_token"
               value="{{ csrf_token }}">


        <label for="title">
            Otsikko
        </label>

        <input
            type="text"
            id="title"
            name="title"
            value="{{ post.title }}"
            maxlength="100"
            required
        >


        <label for="category_id">
            Kategoria
        </label>

        <select
            id="category_id"
            name="category_id"
        >

            <option value="">
                Ei kategoriaa
            </option>

            {% for category in categories %}

                <option
                    value="{{ category.id }}"
                    {% if post.category_id == category.id %}
                        selected
                    {% endif %}
                >
                    {{ category.name }}
                </option>

            {% endfor %}

        </select>


        <label for="content">
            Sisältö
        </label>

        <textarea
            id="content"
            name="content"
            rows="10"
            required
        >{{ post.content }}</textarea>


        <button type="submit">
            Tallenna muutokset
        </button>

    </form>

</div>

{% endblock %}



