{% extends "layout.html" %}

{% block content %}
<div class="form-container">
    <h1>Kirjaudu sisään</h1>

    <form method="post">
        <input type="hidden" name="csrf_token" value="{{ csrf_token }}">

        <label for="username">Käyttäjänimi</label>
        <input
            type="text"
            id="username"
            name="username"
            required
        >

        <label for="password">Salasana</label>
        <input
            type="password"
            id="password"
            name="password"
            required
        >

        <button type="submit">Kirjaudu</button>
    </form>

    <p>
        Eikö sinulla ole vielä käyttäjätunnusta?
        <a href="{{ url_for('register') }}">Rekisteröidy</a>
    </p>
</div>
{% endblock %}


