
{% extends "layout.html" %}

{% block title %}
Kirjaudu
{% endblock %}


{% block content %}

<div class="form-container">

    <h1>Kirjaudu</h1>

    <p>
        Kirjaudu sisään käyttääksesi kaikkia toimintoja.
    </p>


    {% if error %}

        <div class="error">
            {{ error }}
        </div>

    {% endif %}


    <form method="POST"
          action="{{ url_for('login') }}">

        <input type="hidden"
               name="csrf_token"
               value="{{ csrf_token }}">


        <label for="username">
            Käyttäjänimi
        </label>

        <input
            type="text"
            id="username"
            name="username"
            required
        >


        <label for="password">
            Salasana
        </label>

        <input
            type="password"
            id="password"
            name="password"
            required
        >


        <button type="submit">
            Kirjaudu
        </button>

    </form>


    <p class="form-footer">
        Eikö sinulla ole vielä tunnusta?

        <a href="{{ url_for('register') }}">
            Rekisteröidy
        </a>
    </p>

</div>



